/**************************************************************
              ABOUT SESSION
**************************************************************/

.container-about {
    text-align: center;
    min-height: auto;
    top: 0;
}
.section-title {
    padding: 10px 0;
    color: grey;
    margin: 0 0;
}
.map-pin {
    font-size: 2rem !important;
    margin-right: 1vw;
}
.skills-title{
    color: grey;
    width: 100%;
    margin-left: -20px;
}
.row-about-wrapper{
    text-align: center;
    width: 100%;
    height: auto;
}
.about-wrapper__image {
    width: 100%;
    float: none;
    text-align: center;
}
.about-wrapper__info {
    letter-spacing: 0.07rem;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    text-align: center;
    font-size: 0.95rem;
    float: right;
    line-height: 30px;
}
.personal-interest{
    width: 90%;
    line-height: 30px;
}
.about-wrapper__info-text{
    color: black;
    padding: 0 30px 0 0;
}
.img-about {
    height: auto;
    width: 300px;  
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
}
.resume-link{
    background: linear-gradient(139deg, rgba(0,145,190,1) 36%, rgba(0,156,171,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    margin-left: -40px;
}
.about-link {
    margin-top: 10px;
}
.about-buttons {
    height:60px;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {
    .container-about {
        text-align: center;
        min-height: 100%;
        top: 0;
    }
    .about-wrapper__image {
        width: 50vw;
        float: left;
        text-align: center !important;
    }
    .about-wrapper__info, .personal-interest {
        letter-spacing: 0.08rem;
        width: 50%;
        text-align: justify;
        line-height: 1.6rem;
        float: left;
        margin-left: -50px;
        font-size: 0.9rem;
    }
    .img-about {
        width:80%;  
        right: 0;
        margin-right: 0;
        margin-top: 80px;
    }
    .skills-title{
        color: grey;
        width: 100%;
        margin-left: 0;
    }
    .resume-link{
        min-width: 100%;
        margin-left: -50%;
        margin-top: 0;
    }
    .resume-link:hover{
        font-size: 1.1rem;
    }
    .about-buttons {
        margin-top: 530px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1366px) {
    .section-title {
        margin: 10px 0 30px 0;
    }
    .about-wrapper__info, .personal-interest {
        width: 45%;
        margin-left: -50px;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    .img-about {
        width:65%;  
        right: 0;
        margin-right: 0;
        margin-top: 10px;
    }
    .resume-link{
        min-width: 100%;
        margin-left: -57%;
        margin-top: -10%;
    }
    .resume-link:hover{
        font-size: 1.2rem;
    }
    .about-buttons {
        margin-top: 650px;
        margin-bottom: 30px;
    }
}